doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
        meta(name='description', content='A simple Pug template')

        link(rel='icon', type='image/x-icon', href='favicon.ico')
        link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")

        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name="msapplication-TileColor", content='#F3EEE5')

        link(rel='stylesheet', href='style.css')
        block title
            title='A simple Pug/SASS template with HMR'
    body
        block header
            .header--container
                img.logo(src='assets/images/logo.png' alt='PUG and SASS logo')
                .navbar
                    a.navbar--navbar-item(href='index.html') Home
                    a.navbar--navbar-item(href='about.html') About
                    a.navbar--navbar-item(href='Contact.html') Contact
        main
            .content--container
                block content
        footer
            .footer--container
                p Copyright © 2024
